* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    background: rgb(15, 15, 15);
    align-items: center;
    justify-content: center;
    margin-top: 130px ;
  }
  
  .container {
    display: grid;
    grid-template-columns:repeat(20, 15px); 
    grid-template-rows:repeat(25, 15px);
    border: solid 3px rgb(19, 18, 18);
    width: 305px;
    height: 380px;
    align-items: center;
    justify-content: center;
    
  }
  
  .square {
    border: solid 1px rgb(10, 10, 10);
    background-color: #1d1d1d;
    width: 15px;
    height: 15px;
    margin: 1px;
    transition: 2s ease;
    box-shadow: 0 0 2px #000 ;
  }
  
  .square:hover {
    transition-duration: 0s;
    
  }
  